<a href="https://colab.research.google.com/github/HodaMemar/A3/blob/main/corpus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("/content/drive/MyDrive/PaperA3/Processed/processed_0.csv")

In [5]:
df.head()

,Unnamed: 0,index,HADM_ID,category_Inner,FormName,CUI,canonical_name,Neg_CUI
0,0,0,157267,allergies,['Discharge summary' 'Nursing/other'],"['C0009214', 'C0009214', 'C0009214', 'C0018926...","['codeine', 'codeine', 'codeine', 'Hematemesis...","['codeine', 'codeine', 'codeine', 'Hematemesis..."
1,1,0,157267,chief_complaint,['Discharge summary'],"['C0042963', 'C0011991', 'C0015967']","['Vomiting', 'Diarrhea', 'Fever']","['Vomiting', 'Diarrhea', 'Fever']"
2,2,0,157267,history_of_present_illness,['Discharge summary'],"['C0022661', 'C0019829', 'C0010068', 'C0004238...","['Kidney Failure, Chronic', 'Hodgkin Disease',...","['Kidney Failure, Chronic', 'Hodgkin Disease',..."
3,3,0,157267,labs_and_studies,['Discharge summary'],"['C0002893', 'C1704493', 'C0001314', 'C0030193...","['Refractory anemias', 'Neutral Sidebent Rotat...","['Refractory anemias', 'Neutral Sidebent Rotat..."
4,4,0,157267,past_medical_history,['Discharge summary' 'Radiology'],"['C0022661', 'C0019829', 'C0008574', 'C0003855...","['Kidney Failure, Chronic', 'Hodgkin Disease',...","['Kidney Failure, Chronic', 'Hodgkin Disease',..."