<a href="https://colab.research.google.com/github/HodaMemar/A3/blob/main/KeyBert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os.path import exists

df =pd.read_csv('/content/drive/MyDrive/PaperA3/Corpus/corpus_BOC_NegCUI.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna()

In [ ]:
df.iloc[0]['term']

'C0002893,C0018802,C0149531,C0020295,C0027270,C0000729,C0972395,C1704493,C0002940,C0013428,C1320474,C0013404,C0041582,C0055856,C0585361,C0027497,C0151594,C0019829,C0235439,C0030193,C0022661,C0004238,C0079304,C0034063,C0221198,C0022116,C0017110,C0011127,C3537184,C0036439,C0010068,C0008574,C0011168,C0017540,C0032227,C0028778,C0030252,C0234233,C0003855,C0876139,C0016658,C0004144,C0444532,C0007097,C0042963,C0015967,C0001314,C0011570,C0699678,C0392756,C0030920,C0008031,C0232498,C0019552,C0028128,C0011991,C0026727,C0010200,C0000737'

In [5]:
dd=pd.read_csv('/content/drive/MyDrive/PaperA3/Diagnoses_labels/Dictionary.csv')
dictionary = dict(zip(dd.first_cuid, dd.canonical_name))

In [6]:
import ast
def complex_function( x):
    res =x.split(",")
    tms_text=''    
    for i in range(len(res)):
        try:  
            if(res[i].upper().startswith("NOT")):
              tms_text=tms_text +'NOT '+dictionary[res[i][4:].upper()] +', '
            else:
              tms_text=tms_text +dictionary[res[i].upper()] +', '  
        except :
              print(res[i])    
    return tms_text

In [ ]:

x='C0002893,C0018802,C0149531,C0020295,C0027270,C0000729,C0972395,C1704493,C0002940,C0013428,C1320474,C0013404,C0041582,C0055856,C0585361,C0027497,C0151594,C0019829,C0235439,C0030193,C0022661,C0004238,C0079304,C0034063,C0221198,C0022116,C0017110,C0011127,C3537184,C0036439,C0010068,C0008574,C0011168,C0017540,C0032227,C0028778,C0030252,C0234233,C0003855,C0876139,C0016658,C0004144,C0444532,C0007097,C0042963,C0015967,C0001314,C0011570,C0699678,C0392756,C0030920,C0008031,C0232498,C0019552,C0028128,C0011991,C0026727,C0010200,C0000737'
complex_function( x)

'Refractory anemias, Congestive heart failure, Fracture of pelvis, Hydronephrosis, nicotinamide adenine dinucleotide (NAD), Abdominal Cramps, Automatic Implantable Cardioverter-Defibrillators, Neutral Sidebent Rotated, Aneurysm, Dysuria, Nuchal Rigidity, Dyspnea, Ulcer, clarithromycin, Twice a day, Nausea, Hemorrhagic diarrhea, Hodgkin Disease, Ankle edema (finding), Pain, Kidney Failure, Chronic, Atrial Fibrillation, Esophagogastroduodenoscopy, Pulmonary Edema, Lesion, Ischemia, Gases, Pressure Ulcer, Non-ST Elevation Myocardial Infarction by ECG Finding, Scoliosis, unspecified, Coronary heart disease, chromium, Deglutition Disorders, Gibraltar, Pleural effusion disorder, Obstruction, Palpitations, Sore to touch, Arteriovenous fistula, Protonix, Fracture, Atelectasis, Right sided, Carcinoma, Vomiting, Fever, Acute Disease, Mental Depression, Flagyl, Reduced, Peptic Ulcer, Chest Pain, Abdominal tenderness, Hip structure, nitric oxide, Diarrhea, Mucous body substance, Coughing, Abdominal Pain, '

In [7]:
df=df.dropna()
df['Text'] = df.apply(lambda x: complex_function(x['term']), axis=1)
df.shape

(26357, 3)

In [ ]:
df.head()

,label,term,Text
0,157267,"C0002893,C0018802,C0149531,C0020295,C0027270,C...","Refractory anemias, Congestive heart failure, ..."
1,123103,"C0002893,C0007012,C0027270,C0032326,C0013604,C...","Refractory anemias, carbon dioxide, nicotinami..."
2,139931,"C0262613,C0007012,C0441713,C0020295,C0013604,C...","Renal mass, carbon dioxide, Chemical injury, H..."
3,198295,"C0036690,C0018802,C0024117,C0032326,C1704493,C...","Septicemia, Congestive heart failure, Chronic ..."
4,177962,"C0080310,C0027270,C0032326,C0020676,C0392689,C...","Left Ventricular Function, nicotinamide adenin..."

In [8]:
df1=df[['label','Text']]
df1.head()
df1.shape

(26357, 2)

In [42]:
df1.label=df1.label.astype(float).astype(int)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [37]:

df3=df1[~df1.label.isin(ls_remain)]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [46]:
print(len(df3.label.unique().tolist()))
print(len(df1.label.unique().tolist()))
print(len(df_remain.label.unique().tolist()))

4
25926
25921

In [47]:
df_remain.to_csv('/content/drive/MyDrive/PaperA3/KeyBERT/KeyBERT_Total.csv')

#Run KeyBERT

In [ ]:
from keybert import KeyBERT
kw_model = KeyBERT()

In [ ]:
!pip install keybert

In [ ]:
def keyBert_20(arg):
 label,doc = arg
 ls_Keys=kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 3), stop_words='english', use_maxsum=False,  top_n=20)
 str_tmp=''
 ls=[]
 for i in range(len(ls_Keys)):
   str_tmp=str_tmp + ls_Keys[i][0] +', '
 ls.append([label,str_tmp]) 
 return pd.DataFrame(ls,columns=['label','Text'])

In [ ]:
a=[(idx,row) for idx,row in df3.itertuples(index=False)]

In [29]:
len(df_remain.label.astype(float).astype(int).unique().tolist())

25922

In [ ]:

data_all_new= pd.DataFrame(columns = ['label', 'Text'])
for i in range(len(a)):
      print(len(a)-i)
      data_all_new =data_all_new.append( keyBert_20(a[i]) )
      if (i % 1000 ==0):
          filename=int(i/1000+30)
          data_all_new.to_csv('/content/drive/MyDrive/PaperA3/KeyBERT/KeyBERT_20_'+str(filename)+'.csv')
          data_all_new= pd.DataFrame(columns = ['label', 'Text'])

In [ ]:
data_all_new

     label                                               Text
0   157267  congestive heart failure, heart failure, infar...
0   123103  coronary heart disease, coronary disease, bica...
0   139931  mitral valve insufficiency, left renal, effusi...
0   198295  congestive heart failure, cholecystitis fentan...
0   177962  coronary disease, coronary disease hypertensiv...
..     ...                                                ...
0   162156  atelectatic respiratory distress, cholecalcife...
0   175606  congestive heart failure, heart failure, hyper...
0   177610  spinal injuries, injury physiologic, vertebra ...
0   157308  heart failure, atelectatic heart failure, nad ...
0   191405  lung diseases hypotensive, hypotension pulmona...

[100 rows x 2 columns]