<a href="https://colab.research.google.com/github/HodaMemar/A3/blob/main/TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os.path import exists

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.preprocessing import normalize

In [78]:
df =pd.read_csv('/content/drive/MyDrive/PaperA3/corpus_BOC.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna()

,label,term,len,list_CUIs,number_CUIs
0,157267,"Pressure Ulcer,Abdominal tenderness,Ankle edem...",947.0,"['Pressure Ulcer', 'Abdominal tenderness', 'An...",61.0
1,123103,"Edema,Mitral Valve Insufficiency,Lung Volume M...",527.0,"['Edema', 'Mitral Valve Insufficiency', 'Lung ...",28.0
2,139931,"Sore to touch,Transverse colon,Communicable Di...",750.0,"['Sore to touch', 'Transverse colon', 'Communi...",44.0
3,198295,"Lactates,GEN1 gene,Hypoventilation,Edema,Shock...",827.0,"['Lactates', 'GEN1 gene', 'Hypoventilation', '...",56.0
4,177962,"Hyperlipidemia,Left Ventricular Function,Non-S...",686.0,"['Hyperlipidemia', 'Left Ventricular Function'...",40.0
...,...,...,...,...,...
24547,168505,"Liver Failure, Acute,Sore to touch,Communicabl...",1110.0,"['Liver Failure', ' Acute', 'Sore to touch', '...",72.0
24548,109316,"Clubbed Fingers,Heart murmur,Edema,Tachypnea,A...",581.0,"['Clubbed Fingers', 'Heart murmur', 'Edema', '...",42.0
24549,123505,"Hyperlipidemia,Left Ventricular Function,Simpl...",1088.0,"['Hyperlipidemia', 'Left Ventricular Function'...",62.0
24550,101422,"Simple,Edema,Shadow,Dyslipidemias,Diabetes Mel...",615.0,"['Simple', 'Edema', 'Shadow', 'Dyslipidemias',...",35.0
24551,110075,"Sore to touch,Kyphosis deformity of spine,Simp...",1285.0,"['Sore to touch', 'Kyphosis deformity of spine...",72.0

In [85]:
df=df.dropna()
len(df)

24538

In [ ]:

ls_HADM_ID=df.label.unique().tolist()
ls_HADM_ID_Correct=[]
ls_CUI=[]
for i in range(len(ls_HADM_ID)):
    try:
       s=df.loc[(df['label']==ls_HADM_ID[i] )  ].term.tolist()[0]
       listToStr =s# ' '.join([str(elem) for elem in s])
       ls_HADM_ID_Correct.append(ls_HADM_ID[i])
       ls_CUI.append(listToStr)
       listToStr = ''
    except:
       print("An exception occurred in    " + ls_HADM_ID[i])

    


cui_dictionary = dict(zip(ls_HADM_ID_Correct,ls_CUI))
cui_dictionary

In [83]:
corpus=cui_dictionary

In [84]:
cvect = CountVectorizer()
counts = cvect.fit_transform(corpus.values())
normalized_counts = normalize(counts, norm='l2', axis=1)

vectorizer = TfidfVectorizer()
tfs = vectorizer.fit_transform(corpus.values())
new_tfs = normalized_counts.multiply(vectorizer.idf_)

feature_names=vectorizer.get_feature_names()

corpus_index = [n for n in corpus]
df1 = pd.DataFrame(new_tfs.T.todense(), index=feature_names, columns=corpus_index)
#df1.sort_values(by=183196,ascending=False)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)